#--------------
#ignore files
#--------------

#Markdown
.obsidian

#compile VS
.vs
Debug
Release
x64
*.ipch
*.db
*.suo
*.db-shm
*.db-wal
*.opendb

#other
/libs
__pycache__
*.pyc
*.snapshot
*.pb
*.metadata
/models/*/img
sample.png
*.bat
logs